{% extends "CinemaBoBundle::layout.html.twig" %}
{% form_theme form 'CinemaBoBundle:Form:fields.html.twig' %}
{% block content %}
    <h1>Contact</h1>
    <div class="col-md-8 row">
        {{ form_start(form) }}

                {{ form_label(form.recipient) }}
                <div class="col-md-9">
                    {{ form_widget(form.recipient) }}
                </div>

                {{ form_errors(form.recipient) }}





                    {{ form_label(form.subject) }}
                    <div class="col-md-9">
                        {{ form_widget(form.subject) }}
                    </div>

                     {{ form_errors(form.subject) }}



            <div class="form-group" >
                {{ form_label(form.nom) }}
                <div class="col-md-9">
                    {{ form_widget(form.nom) }}
                </div>
                <p class="help-block">{{ form_label(form.nom) }}</p>
            </div>
             <div class="form-group" >
                {{ form_label(form.url) }}
                <div class="col-md-9">
                    {{ form_widget(form.url) }}
                </div>
                 <p class="help-block">{{ form_label(form.url) }}</p>
            </div>
             <div class="form-group" >
                {{ form_label(form.email) }}
                <div class="col-md-9">
                    {{ form_widget(form.email) }}
                </div>
                 <p class="help-block">{{ form_label(form.email) }}</p>
            </div>
            <div class="form-group" >
                {{ form_label(form.message) }}
                <div class="col-md-9">
                    {{ form_widget(form.message) }}
                </div>
                <p class="help-block">{{ form_label(form.message) }}</p>
            </div>

            <div class="form-group" >
                {{ form_row(form.send) }}
            </div>

        {{ form_end(form) }}
    </div>


{% endblock %}

