{% extends "CinemaBoBundle::layout.html.twig" %}
{% block content %}


    <div id="content-wrapper">
        <ul class="breadcrumb breadcrumb-page">
            <div class="breadcrumb-label text-light-gray">You are here: </div>
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Dashboard</a></li>
        </ul>
        <div class="page-header">

            <div class="row">
                <!-- Page header, center on small screens -->
                <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard</h1>

                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <hr class="visible-xs no-grid-gutter-h">
                        <!-- "Create project" button, width=auto on desktops -->
                        <div class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Create project</a></div>

                        <!-- Margin -->
                        <div class="visible-xs clearfix form-group-margin"></div>

                        <!-- Search field -->
                        <form action="" class="pull-right col-xs-12 col-sm-6">
                            <div class="input-group no-margin">
                                <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i class="fa fa-search"></i></span>
                                <input type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- / .page-header -->


    </div>


<div class="col-md-4" id="myCollapse1">
    <div class="panel panel-success">
        <div class="panel-heading">
            <a href="#itemContent9" data-parent="#myCollapse1" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-camera"></span> Film du jour</a>
        </div>
        <div id="itemContent9" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Movies:getRandomMovie')) }}
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <a href="#itemContent2"  data-parent="#myCollapse1" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-camera"></span> Meilleurs films à l'affiche</a>
        </div>
        <div id="itemContent2" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Movies:getBestMovies')) }}
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <a href="#itemContent5"  data-parent="#myCollapse1" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-camera"></span> Films les plus attendus</a>
        </div>
        <div id="itemContent5" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Movies:getBestExpectedMovies')) }}
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <a href="#itemContent8" data-parent="#myCollapse1" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-tasks"></span> Statistiques</a>
        </div>
        <div id="itemContent8" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-unstyled">
                    {{ render(controller('CinemaBoBundle:Default:stats')) }}
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="col-md-4" id="myCollapse2">
    <div class="panel panel-success">
        <div class="panel-heading">
            <a href="#itemContent3" data-parent="#myCollapse2" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-user"></span> Meilleurs acteurs</a>
        </div>
        <div id="itemContent3" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Actors:getBestActors')) }}
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <a href="#itemContent4" data-parent="#myCollapse2" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-user"></span> Meilleurs Réalisateurs</a>
        </div>
        <div id="itemContent4" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Directors:getBestDirectors')) }}
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <a href="#itemContent6" data-parent="#myCollapse2" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-tag"></span> Tags</a>
        </div>
        <div id="itemContent6" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Tags:getTags')) }}
                </ul>
            </div>
        </div>
        <div class="panel-heading">
            <a href="#itemContent7" data-parent="#myCollapse2" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-tasks"></span> Catégories</a>
        </div>
        <div id="itemContent7" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    {{ render(controller('CinemaBoBundle:Categories:getCategoriesWithMovies')) }}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="panel panel-success">

        <div class="panel-heading">
            <a href="#itemContent4" class="panel-title"><span class="glyphicon glyphicon-comment"></span> Commentaires</a>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#comA" data-toggle="tab">Commentaires actives</a></li>
            <li><a href="#comE" data-toggle="tab">Commentaires encours de validation</a></li>
            <li><a href="#comI" data-toggle="tab">Commentaires inactifs</a></li>
        </ul>
        <div class="tab-content">
            {{ render(controller('CinemaBoBundle:Comments:getComments')) }}
        </div>
    </div>
</div>
<div class="col-md-8">
        <div class="panel panel-success">

            <div class="panel-heading">
                <a href="#itemContent4" class="panel-title"><span class="glyphicon glyphicon-dashboard"></span> Séances</a>
            </div>

            <div class="panel-body">
                {{ render(controller('CinemaBoBundle:Sessions:getSessions')) }}
            </div>
        </div>
</div>

    {{ render(controller('CinemaBoBundle:Categories:getCategoriesMoviesChart')) }}

{% endblock %}