<ul>
    {% for session in sessions %}
        <li class="row list-group-item">
            <div class="col-md-4">
                <a  href="{{ path('cinema_bo_movie',{'id':session.movieId})}}">
                    <img src="{{ session.image }}" alt=""/>
                    <p><small>{{ session.movieTitle }}</small> </p>
                </a>
            </div>
            <div class="col-md-4">
                <small><i>{{session.cinemaTitle }}</i></small>
                <small><i>{{session.ville }}</i></small>
            </div>
            <div class="col-md-4">
                <span class="pull-right label label-primary">{{ session.dateSession|date("d/m/Y h:i:s", "Europe/Paris") }}</span>
            </div>

        </li>
    {% endfor %}
</ul>





