{% extends "CinemaBoBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}


            {{ form_start(form) }}

                {{ form_label(form._username) }}


                {{ form_widget(form._username, {'attr': {'value': last_username}}) }}


                {{ form_label(form._password) }}


                {{ form_widget(form._password) }}


            {{ form_end(form,{'render_rest': true}) }}






{% endblock content %}