{% extends "CinemaBoBundle::layout.html.twig" %}
{% block content %}
<div class="col-sm-8">
    <div class="panel panel-warning">
        <div class='panel-body'>
            <div>
                  <h2>{{  director.firstname ~" " ~director.lastname }}</h2>


            </div>
            <p>
                    <img class="img-thumbnail" src="{{ director.image }}">
            </p>
            {% for movie in director.movies %}
                <div class="col-sm-4">
                    <p>
                        <a  href="{{ path('cinema_bo_movie',{'id':movie.id})}}">
                            {{ movie.title }}
                        </a>
                    </p>
                    <p>
                        <img class="img-thumbnail" src="{{ movie.image }}">
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

