{% extends "CinemaBoBundle::layout.html.twig" %}
{% block content %}
<div class="col-md-8">

                <div class="oneMovie panel panel-warning">
                    <div class='panel-body'>
                        <p>
                            <a  href="{{ path('cinema_bo_movie',{'id':movie.id})}}">
                                {{ movie.title }}
                            </a>
                        </p>
                        <p>
                            <img class="img-thumbnail" src="{{ movie.image }}">
                        </p>
                        <p class='text-justify'>
                            {{movie.synopsis|raw}}
                        </p>
                        <p>
                            <a class="btn btn-sm btn-success" href="{{ path('cinema_bo_movies_category',
                            {'catId':movie.categories.id})}}">{{ movie.categories.title }}
                            </a>
                        </p>
                    </div>
                    <div>
                        <small>Film du même type:</small>
                        <p>
                            {% for movieRel in movie.moviesRelated %}
                                <a   href="{{ path('cinema_bo_movie',{'id':movieRel.id})}}">
                                    <span class="label label-warning">{{ movieRel.title }}</span>
                                </a>
                            {% endfor %}
                        </p>
                    </div>
                    <div>
                        <small>Commentaires
                            <div>
                                {% for comment in movie.comments %}

                                    <p>{{ comment.content }}</p>

                                {% endfor %}
                            </div>
                        </small>
                    </div>

                </div>
</div>
{% endblock %}
