{% extends "CinemaBoBundle::layout.html.twig" %}
{% block content %}

                <div class="oneMovie panel panel-warning">
                    <div class='panel-body'>
                        <p>
                            <a  href="{{ path('cinema_bo_movie',{'id':movie.id})}}">
                                {{ movie.title }}
                            </a>
                        </p>
                        <p>
                            <img class="img-thumbnail" src="{{ movie.image }}">
                        </p>
                        <p class='text-right'><a id ="{{movie.id}}" href="#"
                                                 class="text-right">{{movie.synopsis|raw}}</a>
                        </p>
                        <p>
                            <a class="btn btn-sm btn-success" href="{{ path('cinema_bo_movies_category',
                            {'catId':movie.categories.id})}}">{{ movie.categories.title }}
                            </a>
                        </p>
                    </div>

                </div>

{% endblock %}
