{% extends "CinemaBoBundle::layout.html.twig" %}
{% block content %}
<div class="col-sm-8">

                <div class="oneMovie panel panel-warning">
                    <div class='panel-body'>
                        <p>
                            <a  href="{{ path('cinema_bo_movie',{'id':movie.id})}}">
                                {{ movie.title }}
                            </a>
                        </p>
                        <p>
                            <img class="img-thumbnail" src="{{ movie.image }}">
                        </p>
                        <p class='text-justify'>
                            {{movie.synopsis|raw}}
                        </p>
                        <p>
                            <a class="btn btn-sm btn-success" href="{{ path('cinema_bo_movies_category',
                            {'catId':movie.categories.id})}}">{{ movie.categories.title }}
                            </a>
                        </p>
                    </div>

                </div>
</div>
{% endblock %}
